[Desktop Entry]
Name=Brave (Sittard-Geleen)
Comment=Brave Browser - Sittard-Geleen profile
Exec=flatpak run com.brave.Browser --profile-directory=Sittard-Geleen
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
