[Desktop Entry]
Name=Brave (Personal)
Comment=Brave Browser - Personal profile
Exec=flatpak run com.brave.Browser --profile-directory=Personal %U
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
