[Desktop Entry]
Name=Brave (Company)
Comment=Brave Browser - Company profile
Exec=flatpak run com.brave.Browser --profile-directory=Company
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
