[Desktop Entry]
Name=Brave (Fluxzero)
Comment=Brave Browser - Fluxzero profile
Exec=flatpak run com.brave.Browser --profile-directory=Fluxzero
Icon=brave-browser
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
