[Desktop Entry]
Name=Claude
Comment=Anthropic Claude
Exec=brave-app https://claude.ai claude.ai__
Icon=claude
Type=Application
Categories=Network;Chat;
StartupWMClass=claude.ai__
