[Unit]
Description=Remove stale IntelliJ lock files left after a hard shutdown
Documentation=https://youtrack.jetbrains.com/issue/IJPL-160292

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'find %h/.var/app/com.jetbrains.IntelliJ-IDEA-Ultimate/{config,cache}/JetBrains -maxdepth 2 -name ".lock" -o -name ".pid" -o -name ".port" -o -name ".appinfo" -o -name ".home" 2>/dev/null | xargs -r rm -f'

[Install]
WantedBy=default.target
