[Unit]
Description=Btrfs scrub on %f
ConditionPathIsMountPoint=%f

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStart=/usr/sbin/btrfs scrub start -B %f
