[Desktop Entry]
Name=1Password
Comment=Password manager
Exec=/opt/1Password/1password --silent
Terminal=false
Type=Application
StartupNotify=false
X-GNOME-Autostart-enabled=true
